[submodule "subs/tutorial/mediajourney"]
	path = subs/tutorial/mediajourney
	url = https://github.com/ayyb1988/mediajourney.git
	branch = main
[submodule "subs/tutorial/rtspserver"]
	path = subs/tutorial/rtspserver
	url = https://github.com/lihuan545890/rtspserver
	branch = master
[submodule "subs/openutil/base64"]
	path = subs/openutil/base64
	url = https://github.com/zhicheng/base64.git
	branch = master
