[submodule "subs/tutorial/mediajourney"]
	path = subs/tutorial/mediajourney
	url = https://github.com/ayyb1988/mediajourney.git
	branch = main
[submodule "subs/tutorial/rtspserver"]
	path = subs/tutorial/rtspserver
	url = https://github.com/lihuan545890/rtspserver
	branch = master
[submodule "subs/openutil/base64"]
	path = subs/openutil/base64
	url = https://github.com/zhicheng/base64.git
	branch = master
[submodule "subs/openutil/RingBuffer"]
	path = subs/openutil/RingBuffer
	url = https://github.com/XinLiGH/RingBuffer.git
	branch = master
[submodule "subs/openutil/mongoose"]
	path = subs/openutil/mongoose
	url = https://github.com/cesanta/mongoose.git
	branch = master
[submodule "subs/openutil/ini_parser"]
	path = subs/openutil/ini_parser
	url = https://github.com/jhpy1024/ini_parser.git
	branch = master
[submodule "subs/openutil/cpp-httplib"]
	path = subs/openutil/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
	branch = master
[submodule "subs/openutil/CJsonObject"]
	path = subs/openutil/CJsonObject
	url = https://github.com/Bwar/CJsonObject.git
	branch = master
[submodule "subs/openutil/aws-sdk-cpp"]
	path = subs/openutil/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
	branch = main
[submodule "subs/openutil/websocketpp"]
	path = subs/openutil/websocketpp
	url = https://github.com/zaphoyd/websocketpp
	branch = master
[submodule "subs/openutil/Flat.qml"]
	path = subs/openutil/Flat.qml
	url = https://gitee.com/solym/Flat.qml
	branch = master
[submodule "subs/binsoft/h264_analysis"]
	path = subs/binsoft/h264_analysis
	url = https://github.com/leixiaohua1020/h264_analysis.git
	branch = master
[submodule "subs/booksoft/learn-qt-5"]
	path = subs/booksoft/learn-qt-5
	url = https://github.com/PacktPublishing/Learn-qt-5.git
	branch = master
[submodule "subs/booksoft/qt6book"]
	path = subs/booksoft/qt6book
	url = https://github.com/qmlbook/qt6book.git
	branch = main
